html {
  background-color: rgba(209, 231, 241, 1);
}

body {
  position: relative;
}

h1 {
  text-align: center;
}


.grid-container {
  display: flex
  grid-template-columns: repeat(3, 1fr);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.4)
}

/* .avatar {
  border-radius: 50%;
} */

.modal {
  position: relative;
  background-color: rgba(125, 128, 130);
  border: 5px solid black;
  border-radius: 5px;
  width: 375px;
  margin: 15% auto auto;
  text-align: center;
  padding: 30px 20px;
}

.modalImage {
  width: 300px;
}

.modal-close {
  cursor: pointer;
  top: 10px;
  right: 10px;
  position: absolute;
}

.hidden {
  display: none;
}

.test-container {
  padding-left: 10px;

}

.name, .email, .address {
  padding: 0;
}

.card {
  display: flex;
  flex-basis: 1;
  border: 2px solid black;
  margin-bottom: 5%;
  background-color: rgba(129, 192, 194, 0.3);
}

@media only screen and (min-width: 1150px) {

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:2em;
  }


};
